<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <style type="text/css">
        header,
        main,
        footer {
            padding-left: 240px;
        }

        body {
            backgroud: white;
        }

        @media only screen and (max-width: 992px) {
            header,
            main,
            footer {
                padding-left: 0;
            }
        }

        #credits li,
        #credits li a {
            color: white;
        }

        #credits li a {
            font-weight: bold;
        }

        .footer-copyright .container,
        .footer-copyright .container a {
            color: #BCC2E2;
        }

    </style>
</head>

<body>
{{ .LeftBar }}

<header>
    <nav class="brown" role="navigation">
        <div class="nav-wrapper">
            <a style="margin-left: 5%; font-size: 20px" data-activates="slide-out" class="button-collapse show-on-large"
               href="#!">Меню</a>

            <ul class="right">
                <li>
                    <button class="btn waves-effect waves-light brown lighten-5 black-text" onclick="log_out()">Выйти
                    </button>
                </li>
            </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper brown darken-2">
            <a style="margin-left: 20px;" class="breadcrumb" href="{{ .Domain }}/admin/panel/">Главная</a>
            <a class="breadcrumb" href="{{ .Domain }}/admin/panel/companies/">Список компаний</a>
            <a class="breadcrumb" href="{{ .Domain }}/admin/panel/companies/upload/">Добавить</a>

            <div style="margin-right: 20px;" id="timestamp" class="right"></div>
        </div>
    </nav>
</header>

<main>
    <div class="col s12">
        <div style="padding: 35px;" align="center" class="card">
            <div class="row">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="name" type="text" class="validate">
                        <label for="name">Название Компании</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="link_on_company_site" type="text" class="validate">
                        <label for="link_on_company_site">Ссылка на сайт компании</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="max_loan_amount" type="number" class="validate">
                        <label for="max_loan_amount">Максимальная сумма займа</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <input id="max_loan_duration" type=number class="validate">
                        <label for="max_loan_duration">Максимальный срок выдачи займа</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="min_loan_percent" type="number" class="validate">
                        <label for="min_loan_percent">Минимальный процент займа</label>
                    </div>
                </div>

                <div class="row">
                    <div class="file-field input-field" style="padding-left: 1%; margin: 0">
                        <div class="btn brown lighten">
                            <span>Логотип</span>
                            <input id="logo" type="file" accept=".jpg, .jpeg, .png">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="logo_filename" class="file-path validate" type="text"
                                   placeholder="Файл в одном из форматов(png, jpg, jpeg)">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s1">
                        <button class="btn brown waves-effect waves-light" onclick="upload_company()">Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>

{{ .Footer }}


<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ .Domain }}/static/js/log_out_admin.js"></script>
<script type="text/javascript" src="{{ .Domain }}/static/js/upload_company.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.button-collapse').sideNav();
        $('.collapsible').collapsible();
        $('select').material_select();
    });
</script>

</body>
</html>