<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <style type="text/css">
    header,
    main,
    footer {
      padding-left: 240px;
    }

    body {
      background: white;
    }

    @media only screen and (max-width: 992px) {
      header,
      main,
      footer {
        padding-left: 0;
      }
    }

    #credits li,
    #credits li a {
      color: white;
    }

    #credits li a {
      font-weight: bold;
    }

    .footer-copyright .container,
    .footer-copyright .container a {
      color: #BCC2E2;
    }

  </style>
</head>

<body>
<ul id="slide-out" class="side-nav fixed z-depth-2">
  <li class="center no-padding">
    <div class="brown darken-2 white-text" style="height: 64px;">
      <div class="row">
        <p style="margin-top: 0">Админ панель</p>
      </div>
    </div>
  </li>
  <ul class="collapsible" data-collapsible="accordion">
    <li id="dash_users">
      <div id="dash_users_header" class="collapsible-header waves-effect"><b>Пользователи</b></div>
      <div id="dash_users_body" class="collapsible-body">
        <ul>
          <li id="users_list">
            <a class="waves-effect" style="text-decoration: none;"
               href="http://localhost:8080/admin/panel/">Список</a>
          </li>

          <li id="users_upload">
            <a class="waves-effect" style="text-decoration: none;"
               href="http://localhost:8080/admin/panel/upload/">Добавить</a>
          </li>
        </ul>
      </div>
    </li>
    <li id="dash_products">
      <div id="dash_products_header" class="collapsible-header waves-effect"><b>Компании</b></div>
      <div id="dash_products_body" class="collapsible-body">
        <ul>
          <li id="products_product">
            <a class="waves-effect" style="text-decoration: none;" href="http://localhost:8080/admin/panel/companies/">Список</a>
            <a class="waves-effect" style="text-decoration: none;"
               href="http://localhost:8080/admin/panel/companies/upload/">Добавить</a>
          </li>
        </ul>
      </div>
    </li>
    <li id="dash_reviews">
      <div id="dash_reviews_header" class="collapsible-header waves-effect"><b>Отзывы</b></div>
      <div id="dash_reviews_body" class="collapsible-body">
        <ul>
          <li id="reviews">
            <a class="waves-effect" style="text-decoration: none;" href="http://localhost:8080/admin/panel/reviews/">Список</a>
            <a class="waves-effect" style="text-decoration: none;"
               href="http://localhost:8080/admin/panel/reviews/add/">Добавить</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ul>

<header>
  <nav class="brown" role="navigation">
    <div class="nav-wrapper">
      <a style="margin-left: 5%; font-size: 20px" data-activates="slide-out" class="button-collapse show-on-large"
         href="#!">Меню</a>

      <ul class="right">
        <li>
          <button class="btn waves-effect waves-light brown lighten-5 black-text" onclick="log_out()">Выйти</button>
        </li>
      </ul>

      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <nav>
    <div class="nav-wrapper brown darken-2">
      <a style="margin-left: 20px;" class="breadcrumb" href="{{ .Domain }}/admin/panel/">Главная</a>
      <a class="breadcrumb" href="{{ .Domain }}/admin/panel/companies/">Компании</a>

      <div style="margin-right: 20px;" id="timestamp" class="right"></div>
    </div>
  </nav>
</header>

<main>
  <div class="col s12">
    <div style="padding: 35px;" align="center" class="card">
      <div class="row">
        <div class="left card-title">
          <b>Список компаний</b>
        </div>
        <div class="left card-title" style="margin-left: 20px">
          <a href="upload/"
             class="btn brown lighten-1 waves-effect waves-light">Добавить
            компанию</a>
        </div>
      </div>

      <table>
        <thead>
        <tr>
          <th style="text-align: center">Id</th>
          <th style="text-align: center">Название</th>
          <th style="text-align: center">Логотип на s3</th>
          <th style="text-align: center">Ссылка на сайт</th>
          <th style="text-align: center">Макс сумма займа</th>
          <th style="text-align: center">Макс длительность возврата</th>
          <th style="text-align: center">Мин % займа</th>
          <th style="text-align: center">Приоритет показа</th>
        </tr>
        </thead>
        <tbody>
        {{range .Companies}}
        <tr>
          <td>
            <a class="btn-floating brown waves-effect waves-light" style="text-align: center"
               href="{{.Id}}/">{{.Id}}</a>
          </td>
          <td style="text-align: center">{{.Name}}</td>
          <td style="text-align: center">{{.LogoNameOnS3}}</td>
          <td style="text-align: center"><a href="{{.LinkOnCompanySite}}">{{.LinkOnCompanySite}}</a></td>
          <td style="text-align: center">{{.MaxLoanAmount}}</td>
          <td style="text-align: center">{{.MaxLoanDuration}}</td>
          <td style="text-align: center">{{.MinLoanPercent}}</td>
          <td style="text-align: center">{{.Priority}}</td>
        </tr>
        {{end}}
        </tbody>
      </table>

    </div>
  </div>
</main>
<footer class="brown page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">ZaimikAdmin</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ .Domain }}/static/js/log_out_admin.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('select').material_select();
  });
</script>

</body>
</html>