<ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
        <div class="brown darken-2 white-text" style="height: 64px;">
            <div class="row">
                <p style="margin-top: 0">Админ панель</p>
            </div>
        </div>
    </li>
    <ul class="collapsible" data-collapsible="accordion">
        <li id="dash_users">
            <div id="dash_users_header" class="collapsible-header waves-effect"><b>Пользователи</b></div>
            <div id="dash_users_body" class="collapsible-body">
                <ul>
                    <li id="users_list">
                        <a class="waves-effect" style="text-decoration: none;"
                           href="http://localhost/admin/panel/">Список</a>
                    </li>
                </ul>
            </div>
        </li>
        <li id="dash_products">
            <div id="dash_products_header" class="collapsible-header waves-effect"><b>Компании</b></div>
            <div id="dash_products_body" class="collapsible-body">
                <ul>
                    <li id="products_product">
                        <a class="waves-effect" style="text-decoration: none;" href="http://localhost/admin/panel/companies/">Список</a>
                        <a class="waves-effect" style="text-decoration: none;"
                           href="http://localhost/admin/panel/companies/upload/">Добавить</a>
                    </li>
                </ul>
            </div>
        </li>
        <li id="dash_reviews">
            <div id="dash_reviews_header" class="collapsible-header waves-effect"><b>Отзывы</b></div>
            <div id="dash_reviews_body" class="collapsible-body">
                <ul>
                    <li id="reviews">
                        <a class="waves-effect" style="text-decoration: none;" href="http://localhost/admin/panel/reviews/">Список</a>
                        <a class="waves-effect" style="text-decoration: none;"
                           href="http://localhost/admin/panel/reviews/upload/">Добавить</a>
                    </li>
                </ul>
            </div>
        </li>

        <li id="dash_subscriptions">
            <div id="dash_subscriptions_header" class="collapsible-header waves-effect"><b>Подписки</b></div>
            <div id="dash_subscriptions_body" class="collapsible-body">
                <ul>
                    <li id="subscriptions">
                        <a class="waves-effect" style="text-decoration: none;" href="http://localhost/admin/panel/subscriptions/">Список</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</ul>